*{
 font-family: 'Lato', sans-serif;
 font-family: Work Sans;
}
header{
  width: 100%;
  height: 100vh;
  background:#f8f6f6;
}
.heder-titel{
    padding: 0 50px;
    font-size: 25px;
    font-weight: 600;
}
nav{
    justify-content: space-between;
    display: flex;
    padding: 30px ;
    align-items: center;
}
nav > ul{
   display: flex;
   margin-right:80px;
}
nav ul li{
list-style: none;
margin: 0 10px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: black;    
}
.tex-box{
    padding: 0 75px;
    margin: 30px auto;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
}
.tex-box h1{
    font-size: 30px;
    font-weight: bold;
}
.tex-box button{
    border: none;
    padding: 7px 16px;
    background: #E02C6D;
    color: #ffffff;
    margin: 10px auto;
    border-radius: 40px;
}
.tex-box img{
 max-width:35%;;
}
.Logo-icon{
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: transparent;
    box-shadow: 0 6px 6px 3px rgba(#f8f6f6 0,0,0.3);
    max-width:83%;
}









/*Mobile divices */
@media screen and (max-width: 576px){
    header{
       padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    .Logo-icon{
     display:block;
     margin-left: 10px;
    }
}
   

/*tablat or medim devices*/
@media screen and (min-width: 576px) and (max-width: 1024px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .trem-continer{
        flex-direction: column;
    }
   .Logo-icon{
    display: flex;
    gap: 10px;
   }
   
}










    
