*{
 font-family: 'Lato', sans-serif;
 font-family: Work Sans;
}
header{
    padding:40px 250px;
    background:rgba(255, 144, 14, 0.10);
   
}
.heder-titel{
    font-size: 40px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav > ul{
    display: flex;
}
nav li{
    margin-right: 30px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #131313;
}
.tex-box{
    max-width: 800px;
    text-align: center;
    margin: 80px auto;
    font-size: 12px;
    
}
.banner-text{
    font-size: 30px;
    font-weight: 600;
}
.btn{
    background-color: orange;
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 10px 12px;
    color: #ffffff;
    border-radius: 5px;
   margin: 10px 0;
}
.img-box img{
    width: 100%;
    margin:0 auto;
}
/*main section*/
main{
    max-width: 1400px;
    margin: 0 auto;
}
.trem-continer{
    display: flex;
    align-items: center;
}
.trem-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.trem-text{
    padding-right: 70px;
    padding-left: 70px;
    font-size: 10px;
    color:  #727272;
}
.trem-text span{
color: #FF900E;
font-weight: 700;

}
.trem-text h3{
   color: #131313;
   margin-bottom: 6px;
   font-size:22px;
}
.trem-text  .Quick{
color:  #727272;
margin-bottom: 10px;
}




/*Mobile divices */
@media screen and (max-width: 576px){
    header{
        padding:20px;
    }
    nav{
        flex-direction: column;
    }
    .trem-continer{
        flex-direction: column;
    }
    .trem-text{
        padding: 20px;
    }
}
/*tablat or medim devices*/
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .trem-continer{
        flex-direction: column;
    }
    .trem-text{
        padding: 50px;
    }
}










    
